src/main/java/com/emrekp/herseybirapide/Model/Currency.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Tarih_Date">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Currency" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="Unit"/>
                            <xs:element type="xs:string" name="Isim"/>
                            <xs:element type="xs:string" name="CurrencyName"/>
                            <xs:element type="xs:float" name="ForexBuying"/>
                            <xs:element type="xs:string" name="ForexSelling"/>
                            <xs:element type="xs:string" name="BanknoteBuying"/>
                            <xs:element type="xs:string" name="BanknoteSelling"/>
                            <xs:element type="xs:string" name="CrossRateUSD"/>
                            <xs:element type="xs:string" name="CrossRateOther"/>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="CrossOrder" use="optional"/>
                        <xs:attribute type="xs:string" name="Kod" use="optional"/>
                        <xs:attribute type="xs:string" name="CurrencyCode" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="Tarih"/>
            <xs:attribute type="xs:string" name="Date"/>
            <xs:attribute type="xs:string" name="Bulten_No"/>
        </xs:complexType>
    </xs:element>
</xs:schema>